rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /boards/{boardId} {
      allow delete: if false;
      allow create: if false;
    	allow read, update: if request.auth != null && request.auth.uid == boardId;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}