<div id="content">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>local_fire_department</mat-icon>
    </button>
    <span>{{ title }}</span>
    <div class="spacer"></div>
    <button mat-icon-button *ngIf="isAuthenticated$ | async" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <main>
    <app-board *ngIf="isAuthenticated$ | async"></app-board>
    <div *ngIf="!(isAuthenticated$ | async)" class="login-container">
      <button mat-flat-button color="primary" (click)="login()">Log in with Google</button>
      <button mat-flat-button color="primary" (click)="loginAnonymously()">Continue Anonymously</button>
    </div>
  </main>
</div>